---
	import Layout from '../layouts/Layout.astro';
	import Hero from '../components/Hero.astro'
	import Projects from '../components/Projects.astro'
	import AboutMe from '../components/AboutMe.astro'
	import Terminal from '../components/Terminal.astro'
	import Particles from '../components/Particles.astro'
---

<Layout title="Máximo Silva - Desarrollador Fullstack">
	<main>
		<Hero />
		<AboutMe />
		<Projects />
		<Terminal />
		<Particles />
	</main>
</Layout>

<style>
	main {
		width: 100%;
	}
</style>