---
const { titulo, enlace, aria, icon: IconComponent,id } = Astro.props
---

<a href={enlace} aria-label={aria} target='_blank' id={id} rel="noopener noreferrer" class='border rounded-3xl py-2 px-5 flex gap-2 hover:scale-105 transition-transform text-sm items-center'>{IconComponent && <IconComponent />}{titulo}</a>