---
const {image,alt} = Astro.props
---

<div class='firstDiv'>
	<img src={image} alt={alt} />
</div>


<style>
	.firstDiv {
		width: 100%;
	}

	.firstDiv img {
		width: 100%;
		object-fit: contain;
		border-radius: 17px;
	}
</style>